// Add your custom CSS here.
.allposts {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .posts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    width:100%;
  }

  .post-img {
    width: 300px;
  }
  #imagem1{
    width:50%;
    margin-top: 2%;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .post-content {
      width: 50%;
    margin-left: 5%;
  }

  .post-title {
    color: #333;
    font-weight: Light;
    font-size: 30px;
    opacity: 1;
    text-align: start;
  }

  .post-description {
    color: #333;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
  }

  .linha-divisora {
    border-bottom: 0.5px solid #b6baad;
    width: 100%;
    margin-bottom: 7%;
    margin-top: 5%;
  }

  .category-header:hover{
    color: #007A64 !important;
    text-decoration: underline #007A64 !important;
  }

  .new__menu__list{
    padding-top: 40px;
  }
  .new__menu__item{
    align-items: center;
    border-bottom: var(--border-width) solid #007A64;
    color: var(--primary);
    display: flex;
    padding: var(--spacer-3);
    transition: background-color .15s;
  }

  .new__menu__item:hover{
    background: rgba(121, 121, 121, 0.1);
    opacity: 40%;
    span{
      color:#775010;
      text-decoration: underline #775010;
    }
  }

  